.subscribe-btn{
        background-color: rgb(197, 8, 8);
        color:white;
        border: none;
        /* height: 36px;
        width:100px; */
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius:2px;
        cursor: pointer;
        margin-right:8px;
        transition: opacity 0.15s;
        vertical-align: top;
    }
    .subscribe-btn:hover{
        opacity: 0.8;
    }
    .subscribe-btn:active{
        opacity: 0.5;
    }
    .join-btn{
        background-color: white;
        border-color:rgb(12, 149, 195);
        border-style: solid;
        border-width: 1px;
        color: rgb(12, 149, 195);
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 2px;
        cursor: pointer;
        margin-right:8px;
        transition: background-color 0.15s, color 0.15s;
    }
    .join-btn:hover{
        background-color: rgb(12, 149, 195);
        color: white;
    }
    .join-btn:active{
        opacity: 0.7;
    }
    .tweet-btn{
        background-color: rgb(24, 153, 197);
        color:white;
        font-weight: bold;
        border:none;
        height:36px;
        width:72px;
        border-radius:18px;
        font-size: 14px;
        transition: box-shadow 0.15s;
    }
    .tweet-btn:hover{
         box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    }